#about,
#about,
#programs,
#faq,
#contact {
    text-align: center;
    padding: 25px;
}


/* .container {
        height: 100px;
    } */

.line {
    border-top: 1px solid;
}

p {
    text-align: justify;
    padding-right: 42px;
}

.pgm p {
    text-align: center;
}

center a {
    color: black;
    text-decoration: underline;
}

.navbar img {
    height: 50px;
}

.footer p {
    text-align: center;
}

.footer {
    text-align: center;
}


/* body {
        font-family: 'spectral', serif;
    } */

.list {
    line-height: 30px;
    list-style-type: square;
    text-align: justify;
}

li {
    font-size: 20px;
}

.card {
    border: 1px solid #ddd;
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 0px;
}

.news {
    text-align: center;
}